* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
    background-color: #eee;
}
ul {
    list-style:none;
}
a {
    text-decoration:none;
    color:black;
    cursor:pointer;
}
.logo {
    color:black;
    text-align:center;
    font-size:50px;
    margin-bottom:50px;
}
.hosgeldin-metin{
    text-align:right;
    margin-top:30px;
    padding:10px 20px;
    width:80%;
    margin:auto;
}
.menu {
    width:80%;
    margin:auto;
    border:1px solid #444;
    border-radius:10px;
}
.menu ul {
    display:flex;
    padding:10px;
}
.menu .dropdown {
    display:flex;
    flex-direction:column;
    align-content:flex-start;
    flex-wrap:wrap;
    justify-content:flex-start;
    display:none;
}
    .menu ul a {
        padding: 10px;
        color: #999;
        font-weight: 700;
        border-right: 1px solid #444;
        border-left: 1px solid #444;
    }
        .menu ul a:hover {
            background-color: #ddd;
        }

.dropdown li {
    padding:10px 0px;
    border:none !important;
}
.liste-ilk-anasayfa a {
    border-left:none !important;
}
.liste-son-cikis a {
    border-right:none !important;
    color:red !important;
}

.drop:hover ul{
    display:block;
    position:absolute;
}
.drop ul a {
    background-color:#eee;
    border-bottom:2px solid #444;
}

.menu-info {
    width: 80%;
    margin: auto;
    background-color: #d0edf2;
    padding:10px;
    border-radius:10px;
}