.paket-container {
    padding:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}
.plan-container {
    width:30%;
}
.plan {
    background-color: red;
    padding: 20px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: #F3F7EC;
    font-size:18px;
}
    .plan .btn {
        padding: 8px 24px;
        color: white;
        background-color: #ffc107;
        color: white;
        border:none;
    }
.plan h4 {
    padding:5px;
}
.plan li {
    padding:5px;
}


.plan-content {
    background-color: #E88D67;
    height:300px;
    font-size:18px;
    padding:20px;
    border-radius:10px;
}
.plan-content h2 {
    padding:10px 0px;
}
.plan-content p {
    padding:10px 0px;
}
    .plan-content .btn {
        padding: 8px 24px;
        color: white;
        background-color: #ffc107;
        color: white;
        border: none;
    }

.plan-input {
    padding:10px;
}
.box {
    padding:2px;
}
.box .txt {
    width:100%;
    padding:3px;
}
    .box .btn {
        padding: 5px 15px;
        background-color: #E88D67;
        border:none;
        color:white;
        border-radius:5px;
        width:32%;
        cursor:pointer;
    }
    .box .btn:hover {
        opacity:0.8;
    }
.dDown {
    position:absolute;
    top:30px;
    left:200px;
    display:flex;
    background-color:#555;
    color:white;
    padding:10px;
}
.dDown .ddList {
    width:100px;
    margin:0px 10px;
}
